*{margin: 0;
  padding: 0;
  box-sizing: border-box;

}
/* body{background-color: rgb(237, 231, 231);} */

li{list-style: none;
}
body{background-color: rgb(238, 227, 227);}

.App{margin: 0 auto;
width: 1400px;}


